#hero {
  height: 90vh;

  .hero-inner {
    @include flexbox;
    @include align-items($value: center);
    @include justify-content($value: space-between);

    height: 90vh;
    position: relative;

    .rectangle {
      width: 1000px;
      height: 350px;
      background: $light-blue;
      position: absolute;
      top: 300px;
      right: -500px;
      z-index: -1;
      border-radius: 316.5px;
    }

    .hero-text {
      h1 {
        font-size: 3rem;
        color: $black;
      }
      p {
        max-width: 540px;
        font-size: 1.125rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero-inner {
    @include flex-direction($direction: column-reverse);
  }
}
#features {
  text-align: center;

  .features-text p {
    max-width: 400px;
    margin: 0 auto;
  }
}

#tabs {
  .tab-items {
    @include flexbox;
    @include align-items($value: center);
    @include justify-content($value: center);
    // max-width: 900px;
    // margin: 0 auto;

    .tab-item {
      padding: 20px 40px;
    }
  }
  .tab-border {
    max-width: 1000px;
    margin: 0 auto;
  }
}
