@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$light-blue: #5267df;
$red: #fa5959;
$black: #242a45;
$dark-grey: #9194a2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $black;
}

p {
  color: $dark-grey;
}

p,
a,
li {
  font-weight: 400;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-red {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: $red;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-red:hover {
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid $red;
  color: $red;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-blue {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: $light-blue;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-blue:hover {
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid $light-blue;
  color: $light-blue;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-white {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #fff;
  color: $black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-white:hover {
  cursor: pointer;
  padding: 13px 28px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid $dark-grey;
  color: $dark-grey;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
